body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: url("https://images.unsplash.com/photo-1764416756485-ef3934e7c6eb?q=80&w=735&auto=format&fit=crop");
  background-size: cover;
  background-position: center;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  color: rgb(0, 0, 43);
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 80px;
  background: rgba(121, 83, 33, 0.9);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 50px;
}

.clock .text {
  height: 30px;
  font-size: 10px;
  background: rgba(0, 0, 255, 0.8);
  text-transform: uppercase;
}

#ampm {
  width: 60px;
  height: 30px;
  font-size: 20px;
  background: rgb(105, 232, 14);
}
